*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #D2B48C;
    --color-white: white;
    --color-black: #000;
    --color-grey0: #DCDCDC;
    --color-grey1: #D3D3D3;
    --color-grey2: #C0C0C0;
    --color-grey3: #A9A9A9;
    --color-grey4: #808080;
    --color-grey5: #696969;
    --color-grey6: #454e56;
    --color-grey7: #2a2e35;
    --color-grey8: #12181b;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s case-in-out;
}
a{
   display: inline-block;
   text-decoration: none;
   color: inherit;
   font-family: inherit;
}
header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}
section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}
.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}
.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
}

.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn
}
    .active-btn{
        background-color: #27ae60;
        transition: all .4s ease-in-out;
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey6);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
    }
        .i{
            font-size: 1.3rem;
            color: var(--color-grey3);
            pointer-events: none;
        }
    

